<ion-item lines="none">   
  <div>
    <br>
    <ion-label color="primary"><b>{{repository.name}}</b></ion-label>    
    <ion-note>Created {{convertToDate(repository.createdAt) | timeAgo}} . Updated {{convertToDate(repository.updatedAt) | timeAgo}}</ion-note>
    <ion-note></ion-note>
  </div>
  <ion-badge color="warning" slot="end" *ngIf="repository.isPrivate">Private <ion-icon name="lock-closed" item-end></ion-icon></ion-badge>
</ion-item>
<ion-item>
  <app-repository-list-item-languages [languages]=repository.repositoryLanguages></app-repository-list-item-languages>
</ion-item>