ion-list{
    top: 72px;
    position: relative;

    .repository-info{
        padding-top: 18px;
    }

    ion-item {
        --padding-start: 0px;
        --inner-padding-start: 1em;
        
        div {
            width: 100%;
    
            ion-skeleton-text.name{
                width: 30%;
            }
    
            ion-skeleton-text.dates{
                width: 40%;
                float: left;
                margin-right: 10px;
            }
        }    
    
        ion-skeleton-text.language{
            width: 20%;
            height:1em;
            float: left;
            margin-right: 10px;
        }
    }
}